<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robboapps.ottawa4kidstest6">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.robboapps.ottawa4kidstest6.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.robboapps.ottawa4kidstest6.SecondActivity">
            <intent-filter>
                <action android:name="com.robboapps.ottawa4kidstest6.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.robboapps.ottawa4kidstest6.ThirdActivity">
            <intent-filter>
                <action android:name="com.robboapps.ottawa4kidstest6.ThirdActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.robboapps.ottawa4kidstest6.FourthActivity">
            <intent-filter>
                <action android:name="com.robboapps.ottawa4kidstest6.FourthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.robboapps.ottawa4kidstest6.WebSiteActivity">
            <intent-filter>
                <action android:name="com.robboapps.ottawa4kidstest6.WebSiteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.robboapps.ottawa4kidstest6.SideTripsActivity">
            <intent-filter>
                <action android:name="com.robboapps.ottawa4kidstest6.SideTripsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.robboapps.ottawa4kidstest6.WhatsCoolActivity">
            <intent-filter>
                <action android:name="com.robboapps.ottawa4kidstest6.WhatsCoolActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.robboapps.ottawa4kidstest6.WhereActivity">
            <intent-filter>
                <action android:name="com.robboapps.ottawa4kidstest6.WhereActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>